[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-integration = "*"
pipenv = "*"

[packages]
matplotlib = "*"
numpy = "*"
pypng = "*"

[requires]
python_version = "3.9"
